/* CSS Document */
body{
	font-family: arial;
}
.main{
	flex: 50%;
	padding: 10px 30px;
	background-color: aliceblue;
}
aside{
	flex: 25%;
	background-color: gainsboro;
	padding: 10px 30px;
}
.container{
	display: flex;
	height: 100vh;
}